@import '@/styles/mixins';

.typography {
  all: unset;
  display: block;
  color: var(--color-light-100);
}

.large {
  @include typography(--font-size-xxl, --line-height-l, --font-weight-bold);
}

.h1 {
  @include typography(--font-size-xl, --line-height-l, --font-weight-bold);
}

.h2 {
  @include typography(--font-size-l, --line-height-m, --font-weight-bold);
}

.h3 {
  @include typography(--font-size-m, --line-height-m, --font-weight-bold);
}

.body1 {
  @include typography(--font-size-m, --line-height-m, --font-weight-regular);
}

.subtitle1 {
  @include typography(--font-size-m, --line-height-m, --font-weight-bold);
}

.body2 {
  @include typography(--font-size-s, --line-height-m, --font-weight-regular);
}

.subtitle2 {
  @include typography(--font-size-s, --line-height-m, --font-weight-bold);
}

.caption {
  @include typography(--font-size-xs, --line-height-s, --font-weight-regular);
}

.overline {
  @include typography(--font-size-xs, --line-height-s, --font-weight-bold);
}

.link1 {
  @include typography(--font-size-s, --line-height-m, --font-weight-regular);

  cursor: pointer;
  color: var(--color-info-500);
  text-decoration-line: underline;

  &:hover {
    text-decoration-line: none;
  }
}

.link2 {
  @include typography(--font-size-xs, --line-height-s, --font-weight-regular);

  cursor: pointer;
  color: var(--color-info-500);
  text-decoration-line: underline;

  &:hover {
    text-decoration-line: none;
  }
}

.error {
  @include typography(--font-size-xs, --line-height-m, --font-weight-regular);

  color: var(--color-danger-300);
}
